body {
  padding-top: 50px;
}
.container {
  max-width: 1000px;
}

.jumbotron {
  margin-top: 20px;
}

#guess-label {
  font-size: 1.2em;
}

#guess-box {
  width: 3em;
  font-size: 1em;
}

.center-text {
  text-align: center;
}

#guesses-left {
  padding-top: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.btn-lg {
  display: block;
  margin: 10px auto;
}